In [21]:
import pyodbc 
import pandas as P
import sqlite3


conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=wn000038725;'
                      'Database=oas_mas_stg;'
                      'user=MS\ssing296;'
                      'password=Rai@garh43;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
#cursor.execute('SELECT * from [dbo].[ARCH_ADT_ANDOR_IP]')


df = pd.read_csv(r'C:\Users\ssing296\Desktop\Canopy\Data Files\SQL_Test_Data.csv')

print(ADT_data)

              DepartmentID,Name,GroupName,
0  1,Engineering,Research and Development,
1  2,Tool Design,Research and Development,
2             3,Sales,Sales and Marketing,
3         4,Marketing,Sales and Marketing,

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW)")